@page
@model Lab1.Pages.Admin.AddUserModel
@{
}

<h1>Add New User:</h1>

<form asp-page-handler="SingleSelect" method="post">
    <select asp-for="UserType" class="form-select">
        <option selected>CIS 454</option>
        <option value="1">Representative</option>
        <option value="2">Faculty</option>
        <option value="3">Employee</option>
        <option value="3">Admin</option>
    </select>
    <br />
    <button class="btn btn-primary">Submit Selection</button>
</form>
<form method="post">
    <div>
        <label asp-for="Representative.FirstName">First Name</label>
        <input asp-for="Representative.FirstName" />
    </div>
    <div>
        <label asp-for="Representative.LastName">Last Name</label>
        <input asp-for="Representative.LastName" />
    </div>
    <div>
        <label asp-for="Representative.MiddleInitial">Middle Initial</label>
        <input asp-for="Representative.MiddleInitial" />
    </div>
    <div>
        <label asp-for="Representative.PhoneNumber">Phone#</label>
        <input asp-for="Representative.PhoneNumber" />
    </div>
    <div>
        <label asp-for="Representative.Email">Email Address</label>
        <input asp-for="Representative.Email" />
    </div>
    <button type="Submit">Add</button>
</form>
<form method="post">
    <div>
        <label asp-for="Employee.FirstName">First Name</label>
        <input asp-for="Employee.FirstName" />
    </div>
    <div>
        <label asp-for="Employee.LastName">Last Name</label>
        <input asp-for="Employee.LastName" />
    </div>
    <div>
        <label asp-for="Employee.MiddleInitial">Middle Initial</label>
        <input asp-for="Employee.MiddleInitial" />
    </div>
    <div>
        <label asp-for="Employee.PhoneNumber">Phone#</label>
        <input asp-for="Employee.PhoneNumber" />
    </div>
    <div>
        <label asp-for="Employee.Email">Email Address</label>
        <input asp-for="Employee.Email"/>
    </div>
    <button type="Submit">Add</button>
</form>
<form method="post">
    <div>
        <label asp-for="Faculty.FirstName">First Name</label>
        <input asp-for="Faculty.FirstName" />
    </div>
    <div>
        <label asp-for="Faculty.LastName">Last Name</label>
        <input asp-for="Faculty.LastName" />
    </div>
    <div>
        <label asp-for="Faculty.MiddleInitial">Middle Initial</label>
        <input asp-for="Faculty.MiddleInitial" />
    </div>
    <div>
        <label asp-for="Faculty.PhoneNumber">Phone#</label>
        <input asp-for="Faculty.PhoneNumber" />
    </div>
    <div>
        <label asp-for="Faculty.Email" >Email Address</label>
        <input asp-for="Faculty.Email" />
    </div>
    <button type="Submit">Add</button>
</form>
<form method="post">
    <div>
        <label asp-for="Admin.FirstName">First Name</label>
        <input asp-for="Admin.FirstName" />
    </div>
    <div>
        <label asp-for="Admin.LastName">Last Name</label>
        <input asp-for="Admin.LastName" />
    </div>
    <div>
        <label asp-for="Admin.MiddleInitial">Middle Initial</label>
        <input asp-for="Admin.MiddleInitial" />
    </div>
    <div>
        <label asp-for="Admin.PhoneNumber">Phone#</label>
        <input asp-for="Admin.PhoneNumber" />
    </div>
    <div>
        <label asp-for="Admin.Email">Email Address</label>
        <input asp-for="Admin.Email" />
    </div>
    <button type="Submit">Add</button>
</form>