@page
@model Lab1.Pages.Admin.AddUserModel
@{
}

<h1>Add New User:</h1>

<form asp-page-handler="SingleSelect" method="post">
    <select asp-for="UserType" class="form-select">
        <option selected>Select A Type</option>
        <option value="representative">Representative</option>
        <option value="faculty">Faculty</option>
        <option value="employee">Employee</option>
        <option value="admin">Admin</option>
    </select>
    <br />

    <div>
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control"/>
    </div>
    <div>
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div>
        <label asp-for="MiddleInitial">Middle Initial:</label>
        <input asp-for="MiddleInitial" class="form-control" />
    </div>
    <div>
        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>




  
