@page
@model Lab1.Pages.Admin.AddUserModel
@{
}

<h1>Add New User:</h1>

<form asp-page-handler="AddUser" method="post">
    <select asp-for="UserType" class="form-select">
        <option selected>Select A Type</option>
        <option value=4>Representative</option>
        <option value=2>Faculty</option>
        <option value=3>Employee</option>
        
    </select>
    <br />

    <div>
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control"/>
    </div>
    <div>
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div>
        <label asp-for="MiddleInitial">Middle Initial:</label>
        <input asp-for="MiddleInitial" class="form-control" />
    </div>
    <div>
        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <label>Enter New Username:</label>
    <input asp-for="Username" class="form-control" placeholder="Enter Username" />
    <span asp-validation-for="Username" class="text-danger">Please enter a Username</span>

    <label>Enter New User's Password:</label>
    <input asp-for="Password" class="form-control" type="password" />
    <span asp-validation-for="Password" class="text-danger">Please enter a Password</span>
    <br />
    <button class="btn btn-primary">Submit</button>
    <button asp-page="AddUser" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
    <button asp-page="AddUser" asp-page-handler="ClearHandler" formnovalidate>Clear</button>
</form>




  
