@page
@model Lab1.Pages.Faculty.FacultyHomeModel
@{
}


<h2>Multiple Select Box</h2>
<form asp-page-handler="FacultyHome" method="post">
    <label for="projectDropdown">Select a Project: </label>
    <select class="form-select" asp-for="SelectedProject" asp-items="Model.Projects" class="form-control">
    </select>
    <br />
</form>
<a asp-page="/Faculty/AddGrant" class="btn btn-info">Add Grant</a>