@page
@model Lab1.Pages.HashedLogin.LogoutModel
@{
}

<h2>Logging out....</h2>

<meta http-equiv="refresh" content="2;url=/HashedLogin" /> <!-- Redirect to login after 2 seconds -->
<p>You will be redirected to the login page shortly.</p>