@page
@model EnterIDModel
@{
	ViewData["Title"] = "Enter ID";
}

<h2>Enter Your ID</h2>
<form method="post">
    <label for="userId">User ID:</label>
    <input type="text" asp-for="UserID" class="form-control" required />
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <p>Please enter 1 For faculty and 2 for admin</p>
</form>

