@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The GrantOrg Landing Page</h1>
    <p>Created by Luke Fisher and Cody Bridge.</p>
    <p>Please select a menu choice above to begin.</p>
</div>
